/* loading indicator */
.inline-block {
    display: inline-block;
}

.loading {
    position: fixed;
    top: 30%;
    text-align: center;
    width: 100%;
}

.loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-top-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    animation: 0.5s spin linear infinite;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* other stuff */

.card {
    padding: 1.5em;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.65);
    margin-bottom: 2.5em;
}

.card-inverse {
    padding: 1.5em;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.65);
    margin-bottom: 2.5em;
}

.home-bg {
    background-color: #fff;
    background-image: url('./crossword.png');
    background-repeat: repeat;
    height: 400px;
    background-size: auto;
    max-height: 100vh;
    background-attachment: fixed;
    margin-top: -23px;
    margin-bottom: 23px;
}

.home-bg .header-lead {
    margin-top: 140px;
}

.team-thumb {
    border-radius: 100%;
    margin-bottom: 1em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.nowrap-scroll {
    white-space: nowrap;
    overflow-x: auto;
}

.scope-thumbnail {
    width: 100%;
    max-width: 150px;
    border-radius: 100%;
    box-shadow: 0 0 1px inset;
}

table.vertical-align-middle td {
    vertical-align: middle !important;
}

.position-relative {
    position: relative;
}

.right-absolute {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}